/* Font */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto');
:root {
  font: 16px / 1;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* CUSTOM CSS */

/* --------Header/Navigation */

header {
  background-color: #081C24;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h1 {
  color: #01D277;
  padding: .5rem;
  font-size: calc(3vh + 1vw);
  white-space: pre;
  font-family: 'Playfair Display SC'
}

/* --------Movie article */

main {
  margin: 4%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  font-family: 'Roboto';
}

/* article == container */

article {
  background-color: #081C24;
  color: whitesmoke;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
}

/* article == card contents */

article h2 {
  margin: 0;
  padding: .8vw;
  padding-top: 1vw;
  padding-left: 1vw;
  background-color: #01864c;
  color: white;
  border-bottom: 1px rgba(19, 18, 18, 0.651) solid;
  font-size: 2vh;
  overflow: hidden;
}

article img {
  width: 100%;
}

article p {
  margin: 1vh;
  padding: 0 1vw;
  font-size: calc(1vh + .5vw);
}

article a {
  color: #081C24;
  background-color: #b49628;
  text-align: center;
  letter-spacing: 2px;
  font-size: calc(.5vh + .8vw);
  display: inline-block;
  padding: 1vh 0;
  margin-bottom: -1rem;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  margin-top: auto;
}

@media only screen and (max-width: 550px) {
  article {
    flex: 1 1 80%;
  }
  article p, article a {
    font-size: calc(2vh + 1vw);
  }
}